.group{
    width: 50%;
}

#dropdown-menu a {
    color: black;
    
    text-decoration: none;
    text-align: left;
  }

#dropdown-menu a:hover {background-color: #f1f1f1;}


#dropdown-menu li{
    list-style: none;
    cursor: pointer;
}